:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-secondary-tansparent: #14141885;
    --transition-speed: 600ms;
}
  
body {
    color: black;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    background-size: cover;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: var(--bg-secondary-tansparent);
    box-sizing: border-box;
    box-shadow: 0 15px 25px var(--bg-secondary-tansparent);
    border-radius: 10px;
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;

}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -18px;
    color: rgb(20, 140, 187);
    font-size: 12px;
}

.box input[type="submit"] {
    border: none;
    outline: none;
    color: white;
    background: rgb(20, 140, 187);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
