<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Flask Parent Template</title>
    <!--stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static',    filename='base.css') }}">
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
    rel="stylesheet"/>
  <!-- Place your kit's code here -->
  <script src="https://kit.fontawesome.com/bd06518ccd.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="logo">
          <a class="nav-link">
            <span class="link-text logo-text">Get Table<br>Viewport</span>
            <i class="fas fa-angle-double-right fa-2x"></i>
          </a>
        </li>

        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="fas fa-home fa-2x"></i>
            <span class="link-text">Home</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-table fa-2x"></i>
            <span class="link-text">Table</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a href="_quit" class="nav-link">
            <i class="fas fa-sign-out-alt fa-2x"></i>
            <span class="link-text">Exit</span>
          </a>
        </li>
      </ul>
    </nav>

{% block body %}
{% endblock %}

 </body>
</html>