{% extends "base.html" %}
{% block body %}
<section>
    <main>
        <div id="outer-box">
            <form>
                <div style="display: inline">
                    <!--
                    checked dosen't work right now because of some other error:
                    GET http://127.0.0.1:5000/favicon.ico [HTTP/1.0 404 NOT FOUND 0ms]
                    but only in this div the other work..
                    maybe some other error in this div or some weird handling...
                    -->
                    <label>double lesson</label><input id="1/2 checkbox" type="checkbox" onclick="first_second_changed()" checked>
                    <label>A/B</label><input id="a/b 1/2 checkbox" type="checkbox" onclick="" checked>
                </div>
                <div id="1,2">
                    <label>1.</label><input type="text">
                    <label>2.</label><input type="text">
                </div>
                <div id="1/2" style="display: none">
                    <label>1st/2nd</label><input type="text">
                </div>

                <div style="display: inline">
                    <label>double lesson</label><input id="3/4 checkbox" type="checkbox" onclick="third_forth_changed()" checked>
                    <label>A/B</label><input id="a/b 3/4 checkbox" type="checkbox" onclick="" checked>
                </div>
                <div id="3,4">
                    <label>3.</label><input type="text">
                    <label>4.</label><input type="text">
                </div>
                <div id="3/4" style="display: none">
                    <label>3./4.</label><input type="text">
                </div>

                <div style="display: inline">
                    <label>double lesson</label><input id="5/6 checkbox" type="checkbox" onclick="fifth_sixth_changed()" checked>
                    <label>A/B</label><input id="a/b 5/6 checkbox" type="checkbox" onclick="" checked>
                </div>
                <div id="5,6">
                    <label>5.</label><input type="text">
                    <label>6.</label><input type="text">
                </div>
                <div id="5/6" style="display: none">
                    <label>5./6.</label><input type="text">
                </div>

                <div style="display: inline">
                    <label>double lesson</label><input id="7/8 checkbox" type="checkbox" onclick="seven_eight_changed()" checked>
                    <label>A/B</label><input id="a/b 7/8 checkbox" type="checkbox" onclick="" checked>
                </div>
                <div id="7,8">
                    <label>7.</label><input type="text">
                    <label>8.</label><input type="text">
                </div>
                <div id="7/8" style="display: none">
                    <label>7./8.</label><input type="text">
                </div>

                <label>A/B</label><input id="a/b 9 checkbox" type="checkbox" onclick="" checked>
                <label>9nd</label><input type="text">
            </form>
        </div>
    </main>
    <script>
        function first_second_changed() {
            const first_second = document.getElementById('1/2 checkbox');
            if (first_second.checked) {
                document.getElementById("1,2").style.display = "none"
                document.getElementById("1/2").style.display = "block"
                }
            else {
                document.getElementById("1,2").style.display = "block"
                document.getElementById("1/2").style.display = "none"
            }
        };
        first_second_changed();

        function third_forth_changed() {
            const third_forth = document.getElementById('3/4 checkbox');
            if (third_forth.checked) {
                document.getElementById("3,4").style.display = "none"
                document.getElementById("3/4").style.display = "block"
                }
            else {
                document.getElementById("3,4").style.display = "block"
                document.getElementById("3/4").style.display = "none"
            }
        };
        third_forth_changed();

        function fifth_sixth_changed() {
            const fifth_sixth = document.getElementById('5/6 checkbox');
            if (fifth_sixth.checked) {
                document.getElementById("5,6").style.display = "none"
                document.getElementById("5/6").style.display = "block"
                }
            else {
                document.getElementById("5,6").style.display = "block"
                document.getElementById("5/6").style.display = "none"
            }
        };
        fifth_sixth_changed();

        function seven_eight_changed() {
            const seven_eight = document.getElementById('7/8 checkbox');
            if (seven_eight.checked) {
                document.getElementById("7,8").style.display = "none"
                document.getElementById("7/8").style.display = "block"
                }
            else {
                document.getElementById("7,8").style.display = "block"
                document.getElementById("7/8").style.display = "none"
            }
        };
        seven_eight_changed();
    </script>
</section>
{% endblock %}